<div class="row">
  <div class="span3">
    <img src="<%= beer.get('imageSmallURL') %>"/>
  </div>
  <div class="span6">
    <h3><%= beer.get('name') %> <small><%= beer.get('breweryName') %></small></h3>
    <p>
      <span class="abv"><%= beer.get('abv') %>% ABV</span> &bull;
      <span class="ibu"><%= beer.get('ibu') %> IBUs</span>
    </p>
    <div class="description"><%= beer.get('description') %></div>
    <p class="stars"></p>
    <p>
      <button class="next btn btn-small hide">Next Beer</button>
    </p>
  </div>
</div>