<div class="beer thumbnail" data-id="<%= beer.id %>">
  <% if (beer.get('rating')) { %>
  <button type="button" class="close remove-rating">&times;</button>
  <% } %>
  <img src="<%= beer.get('imageSmallURL') %>" class="show-detail"/>
  <h4><a href="#" class="show-detail"><%= beer.get('name') %></a></h4>
  <p class="brewery"><%= beer.get('breweryName') %></p>
  <p>
    <span class="abv"><%= beer.get('abv') %>% ABV</span> &bull;
    <span class="ibu"><%= beer.get('ibu') %> IBUs</span>
  </p>
  <p class="stars"></p>
</div>