<% if (beer.get('rating')) { %>
<div>
  <span>My Rating: <%= beer.get('rating') %></span> &bull; 
  <span>Average Rating: <%= beer.get('averageRating') %></span>
</div>
<% } else { %>
  <% if (!beer.get('skipped')) { %>
  <div class="btn-group">
    <button class="btn btn-small star" data-rating="1">1</button>
    <button class="btn btn-small star" data-rating="2">2</button>
    <button class="btn btn-small star" data-rating="3">3</button>
    <button class="btn btn-small star" data-rating="4">4</button>
    <button class="btn btn-small star" data-rating="5">5</button>
  </div>
  <% } %>
  <% if (!beer.get('todo')) { %>
  <button class="add-todo btn btn-small">Add to Todo List</button>
  <% } %>
  <% if (!beer.get('skipped')) { %>
  <button class="skip btn btn-small">Skip</button>
  <% } %>
<% } %>